@font-face {
    font-family: 'roboto';
    src: url("./fonts/thin.ttf") format("truetype");
    font-weight: 100
}

@font-face {
    font-family: 'roboto';
    src: url("./fonts/light.ttf") format("truetype");
    font-weight: 300
}

@font-face {
    font-family: 'roboto';
    src: url("./fonts/regular.ttf") format("truetype");
    font-weight: normal
}

@font-face {
    font-family: 'roboto';
    src: url("./fonts/bold.ttf") format("truetype");
    font-weight: 700
}

@font-face {
    font-family: 'Roboto Slab';
    src: url("./fonts_slab/bold.ttf") format("truetype");
    font-weight: bold
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a,
a:hover {
    text-decoration: none
}

.clear {
    clear: both
}

.wrapper {
    width: 1256px;
    margin: 0 auto
}

html {
    height: 100%
}

html body {
    font-family: 'roboto', sans-serif;
    padding-top: 60px;
    height: 100%
}

#header {
    height: 60px;
    position: fixed;
    margin: 15px 0;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 9999
}

#header div.wrapper {
    display: flex;
    justify-content: center;
    position: relative
}

#header .logo {
    font-size: 22px;
    color: #170073;
    line-height: 60px;
    font-weight: bold;
    margin-right: auto;
    position: absolute;
    left: 0
}

#header .logo img {
    height: 30px;
    position: relative;
    top: 8px
}

#header span.menu {
    display: none
}

#header ul {
    text-align: center
}

#header ul li {
    display: inline-block;
    margin: 0 15px;
    position: relative
}

#header ul li a,
#header ul li select {
    border: none;
    background: none;
    color: #170073;
    font-weight: bold;
    line-height: 60px;
    -webkit-transition: color 150ms ease;
    -moz-transition: color 150ms ease;
    -o-transition: color 150ms ease;
    transition: color 150ms ease
}

#header ul li a:hover,
#header ul li a.active,
#header ul li select:hover,
#header ul li select.active {
    color: #0098E0
}

#header ul li:hover .dropdown {
    opacity: 1;
    display: block;
    top: 60px
}

#header ul li .dropdown {
    position: absolute;
    left: -2em;
    width: 115px;
    background: #F2F2F2;
    -webkit-transition: all 180ms ease;
    -moz-transition: all 180ms ease;
    -o-transition: all 180ms ease;
    transition: all 180ms ease;
    top: 45px;
    display: none;
    opacity: 0
}

#header ul li .dropdown a {
    display: block;
    color: #000000;
    margin: 0 5px;
    line-height: 35px;
    font-size: 14px
}

#header ul li .dropdown a:not(:last-child) {
    border-bottom: 1px solid #fff
}

#header ul li .dropdown a:hover,
#header ul li .dropdown a.active {
    color: #0098E0
}

#header ul li.mobile-v {
    display: none
}

#header ul.menu {
    margin: 0 auto
}

#header ul.lang {
    position: absolute;
    font-size: 14px;
    right: 0
}

#name h2.title{
    font-size: 44px;
    text-align: center;
    color: #170073
}

.info {
    text-align: center;
    margin-top: 3em
}

.info h2{
    width: 70%;
    margin: 0 auto;
    display: block;
    font-size: 50px;
    color: #669933;
    line-height: 50px;
    font-family: 'roboto', serif
}

.info h3{
    margin-top: 14px;
    font-size: 24px;
    color: #309154
}

.hero {
    margin-top: -7em;
    z-index: -1
}

.hero img {
    width: 100%
}

.content {
  width: 70%;
  text-align: center;
  margin: 10em auto
}

.content h3{
  font-size: 14px
}

.content img{
  width: 350px;
  height: 150px;
  background-color: #4b4b4b;
  opacity: 0.8;
  color: #4b4b4b
}

.content img:hover{
  opacity: 1
}


.brands {
    margin-top: 3em
}

.brands .text {
    width: 70%;
    margin: 0 auto;
    font-size: 24px;
    line-height: 40px;
    color: #170073
}

.brands .text a {
    color: #0098E0;
    -webkit-transition: opacity 120ms ease;
    -moz-transition: opacity 120ms ease;
    -o-transition: opacity 120ms ease;
    transition: opacity 120ms ease
}

.brands .text a:hover {
    opacity: 0.5
}

.brands .products {
    height: 600px;
    position: relative
}

.brands .products li {
    float: left;
    width: 25%;
    text-align: center
}

.brands .products li:nth-child(2) img {
    position: relative;
    top: -2em
}

.brands .products .blurred {
    position: absolute;
    pointer-events: none;
    top: 0
}

.brands .products .blurred img {
    width: calc(20% - 4em);
    float: left;
    padding: 2em;
    position: relative
}

.brands .products .blurred img:nth-child(1) {
    top: 3em;
    left: -4em;
    width: calc(20% - 6em);
    padding: 3em;
    transform: rotate(-5deg)
}

.brands .products .blurred img:nth-child(2) {
    top: 11em;
    left: -5em;
    width: calc(20% - 3em);
    padding: 1.5em
}

.brands .products .blurred img:nth-child(3) {
    top: 6em;
    width: calc(25%);
    padding: 0
}

.brands .products .blurred img:nth-child(4) {
    top: 1em;
    width: calc(20% - 10em);
    padding: 5em
}

.brands .products .blurred img:nth-child(5) {
    width: calc(28%);
    padding: 0em;
    top: -14em;
    right: -14em
}

#about .about {
    width: calc(50% - 1em);
    float: left
}

#about .about h4 {
    font-size: 44px;
    font-weight: bold;
    color: #170073;
    margin-bottom: .5em;
    font-family: 'Roboto Slab', serif
}

#about .about p {
    font-size: 28px;
    line-height: 36px;
    color: #170073
}

#about .boxes {
    margin-bottom: 2em;
    width: 50%;
    float: right
}

#about .blue,
#about .yellow {
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    float: right
}

#about .blue img,
#about .yellow img {
    border-radius: 100%
}

#about .blue {
    position: relative;
    right: -17%;
    margin-top: 12%;
    width: 60%;
    background-image: url("../images/blue_circle.png") !important
}

#about .blue img {
    width: calc(100% - 7em);
    padding: 3.5em
}

#about .yellow {
    margin-top: 1em;
    width: 40%;
    background-image: url("../images/yellow_circle.png") !important
}

#about .yellow img {
    width: calc(100% - 5em);
    padding: 2.5em
}

#contact h2.title {
    font-size: 44px;
    text-align: center;
    margin: 1em 0 2em;
    color: #170073;
    font-family: 'Roboto Slab', serif;
    font-weight: bold
}

#contact .line {
    margin: 2em 0;
    display: block;
    height: 2px;
    background: #ddd
}

#contact p.location {
    width: 50%;
    float: left;
    color: #525252;
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold
}

#contact .infos {
    width: 50%;
    float: right;
    color: #525252
}

#contact .infos .item {
    margin-bottom: 1em
}

#contact .infos .item span.title {
    float: left;
    width: 25%;
    font-family: 'Roboto Slab', serif;
    font-weight: bold
}

#contact .infos .item p {
    display: inline-block;
    line-height: 25px
}

#contact .infos .item p a {
    color: #0098E0
}

#company h2.title {
    font-size: 44px;
    text-align: center;
    margin: 1em 0 2em;
    font-weight: bold;
    color: #170073;
    font-family: 'Roboto Slab', serif
}

#company .hero {
    margin-top: -10em
}

#company .history {
    width: 865px;
    margin: 0 auto;
    overflow: hidden
}

#company .history h4.title {
    font-size: 44px;
    font-family: 'Roboto Slab', serif;
    color: #170073;
    font-weight: bold;
    margin-bottom: 1em
}

#company .history .block {
    padding-bottom: 500em;
    margin-bottom: -500em
}

#company .history .block .text {
    float: left;
    width: 55%
}

#company .history .block .text>p {
    font-size: 18px;
    color: #5A5A5A;
    line-height: 22px;
    display: block;
    margin-bottom: 1em
}

#company .history .since {
    padding: 1em;
    padding-bottom: 500em;
    margin-bottom: -500em;
    float: left;
    margin-left: 3em;
    width: calc(45% - 5em - 4px);
    border-left: 4px solid #0098E0;
    text-align: center
}

#company .history .since>p {
    font-size: 18px;
    color: #5A5A5A;
    line-height: 22px;
    margin-bottom: 1em
}

#company .history .since span {
    color: #0098E0;
    font-size: 70px;
    font-weight: 300
}

#company .team {
    position: relative;
    margin-top: 2em;
    display: block
}

#company .team .shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-box-shadow: inset 0px -130px 69px 161px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -130px 69px 161px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -130px 69px 161px rgba(0, 0, 0, 0.75)
}

#company .team>img {
    z-index: -1;
    width: 100%
}

#company .team .history {
    margin: 0 auto 2em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

#company .team .history h4,
#company .team .history span {
    color: #0098E0
}

#company .team .history p {
    color: #fff !important
}

#brands .top {
    height: calc(100vh - 60px);
    display: flex;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0
}

#brands .top .item {
    float: left;
    margin: auto
}

#brands .top .item a {
    color: #170073;
    display: block;
    font-weight: bold;
    padding-top: 20px;
    font-size: 18px
}

#brands .top .item:first-child {
    width: 33%;
    text-align: center
}

#brands .top .item:first-child img {
    width: 100%
}

#brands .top .item:nth-child(2) {
    width: 33%
}

#brands .top .item:nth-child(2) img {
    margin: 0 auto;
    width: 100%;
    display: block;
    margin-bottom: 3em
}

#brands .top .item:nth-child(3) {
    width: 33%;
    text-align: center
}

#brands .top .item:nth-child(3) img {
    width: 100%
}

#brands .cover {
    background: #041a72;
    padding-top: 4em;
    margin-top: calc(100vh - 60px);
    position: relative
}

#brands .cover>img {
    position: absolute;
    width: 100%
}

#brands .cover h2.title {
    font-size: 44px;
    letter-spacing: 1px;
    color: #FFB400;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif
}

#brands .cover p.desc {
    font-size: 20px;
    line-height: 28px;
    height: 112px;
    text-align: center;
    width: 60%;
    display: block;
    margin: 0 auto;
    color: #fff;
    font-weight: 300;
    margin-bottom: 1em
}

#brands .cover ul.products {
    padding: 2em;
    margin-top: 5em;
    width: 80%;
    margin: 0 auto;
    font-size: 0;
    text-align: center
}

#brands .cover ul.products li {
    display: inline-block;
    width: 25%;
    text-align: center;
    padding-bottom: 150px;
    cursor: pointer;
    z-index: 2
}

#brands .cover ul.products li.line:before {
    content: '';
    background-image: url(../images/line.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 25%;
    left: 0;
    margin-top: 3%;
    position: absolute;
    display: block
}

#brands .cover ul.products li img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
    -webkit-transition: opacity 150ms ease;
    -moz-transition: opacity 150ms ease;
    -o-transition: opacity 150ms ease;
    transition: opacity 150ms ease;
    z-index: 2;
    position: relative
}

#brands .cover ul.products li img:hover+a {
    color: #FFB400
}

#brands .cover ul.products li a {
    width: 50%;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    line-height: 20px;
    color: #fff;
    -webkit-transition: color 150ms ease;
    -moz-transition: color 150ms ease;
    -o-transition: color 150ms ease;
    transition: color 150ms ease;
    z-index: 2;
    position: relative
}

#brands .cover ul.products li a:hover {
    color: #FFB400
}

#brands .cover[childs="3"] ul.products li {
    width: 33%
}

#brands div.products {
    margin-top: 4em;
    position: relative
}

#brands div.products:before {
    content: '';
    background-image: url(../images/wave_3.png);
    background-size: cover;
    display: block;
    width: 100%;
    height: 456px;
    position: absolute;
    z-index: 1;
    top: 10em
}

#brands div.products:after {
    content: '';
    background-image: url(../images/wave_4.png);
    background-size: cover;
    display: block;
    width: 100%;
    height: 456px;
    position: absolute;
    z-index: 1;
    bottom: 5em
}

#brands div.products h2.title {
    font-size: 44px;
    letter-spacing: 1px;
    color: #170073;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif
}

#brands div.products p.desc {
    font-size: 20px;
    height: 112px;
    line-height: 28px;
    text-align: center;
    width: 60%;
    display: block;
    margin: 0 auto;
    color: #170073;
    font-weight: 300;
    margin-bottom: 1em
}

#brands div.products ul.products {
    padding: 2em;
    margin-top: 5em;
    width: 80%;
    margin: 0 auto
}

#brands div.products ul.products li {
    float: left;
    width: 25%;
    text-align: center;
    margin-bottom: 9em;
    cursor: pointer;
    position: relative;
    z-index: 2
}

#brands div.products ul.products li img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
    -webkit-transition: opacity 150ms ease;
    -moz-transition: opacity 150ms ease;
    -o-transition: opacity 150ms ease;
    transition: opacity 150ms ease;
    z-index: 2
}

#brands div.products ul.products li img:hover+a {
    color: #0098E0
}

#brands div.products ul.products li a {
    width: 50%;
    display: block;
    margin: 0 auto;
    line-height: 20px;
    color: #170073;
    -webkit-transition: color 150ms ease;
    -moz-transition: color 150ms ease;
    -o-transition: color 150ms ease;
    transition: color 150ms ease;
    z-index: 2
}

#brands div.products ul.products li a:hover {
    color: #0098E0
}

footer {
    margin-top: 2em;
    width: 100%;
    height: 100px;
    border-top: 1px solid #212529
}

footer div.wrapper {
    display: flex;
    justify-content: center;
    position: relative
}

footer .info {
    font-weight: 300;
    margin-right: auto;
    position: absolute;
    line-height: 25px;
    left: 0
}

footer .info a {
    color: #212529;
    display: block
}

footer .copyright {
    position: absolute;
    text-align: center;
    line-height: 25px;
    top: 50px
}

footer .copyright span {
    text-align: center;
    display: block;
    font-weight: 300
}

footer .design {
    position: absolute;
    right: 0;
    top: 25px;
}

footer .design span {
    float: right;
    line-height: 25px;
    font-weight: 300;
    margin-left: 10px;
    font-size: 14px;
    position: relative;
}

@media screen and (min-device-width: 768px) and (max-device-width: 1199px) {
    .wrapper {
        width: 90%
    }
    .hero {
        margin-top: 0
    }
    .brands .products {
        height: 400px
    }
    .brands .products li img {
        width: 75%
    }
    #about {
        margin-bottom: 10em
    }
    #about .about {
        width: calc(45% - 1em)
    }
    #about .boxes {
        width: 55%
    }
}

@media screen and (min-device-width: 1600px) {
    #brands .cover .line:before {
        content: '';
        background-image: url(../images/line.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100vw;
        height: 40%;
        left: 0;
        margin-top: -1% !important;
        position: absolute;
        display: block
    }
    .boxes {
        margin-bottom: 7em !important;
        width: 50%;
        float: right
    }
}

body[cat] {
    padding-top: 0
}

body[cat] .wrapper {
    width: 90vw
}

body[cat] footer {
    margin-top: 0;
    background: #fff;
    height: 104px
}

body[cat] #header a {
    font-size: 1.1vw
}

body[cat] #header .logo img {
    height: 2.2vw
}

body[cat] #brand {
    padding-top: 60px;
    height: calc(100vh - 160px);
    padding: 60px 0 0
}

body[cat] #brand .contain {
    position: relative
}

body[cat] #brand:before {
    content: '';
    width: 100%;
    height: calc(100vh);
    background-image: url(../images/blue_bg.png);
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1
}

body[cat] #brand .swiper-container {
    width: 15vw;
    height: calc(80vh - 160px);
    padding-top: 10vh;
    float: left;
    position: fixed
}

body[cat] #brand .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}

body[cat] #brand .swiper-slide img {
    height: 15vh;
    opacity: .5
}

body[cat] #brand .swiper-slide.active img {
    opacity: 1
}

body[cat] #brand div.content {
    float: right
}

body[cat] #brand div.height-reason {
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center
}

body[cat] #brand div.product {
    width: 20vw;
    height: calc(100vh - 160px);
    text-align: center;
    float: left
}

body[cat] #brand div.product img {
    height: 55vh;
    position: relative;
    padding-top: 12vh;
    left: -3.5vw
}

body[cat] #brand div.infos {
    width: 50vw;
    float: right
}

body[cat] #brand div.infos h2.title {
    margin: 10% 0 1em;
    color: #00B01E;
    font-size: 4.8vw;
    text-transform: uppercase
}

body[cat] #brand div.infos p.desc {
    font-weight: bold;
    font-size: 1.8vw;
    color: #170073;
    margin-bottom: 20px
}

body[cat] #brand div.infos ul.table li {
    margin-bottom: 10px;
    position: relative
}

body[cat] #brand div.infos ul.table li:after {
    content: '';
    width: 100%;
    position: absolute;
    z-index: -1;
    bottom: 1px;
    left: 0;
    border-bottom: 1px dashed #170073
}

body[cat] #brand div.infos ul.table li span {
    color: #170073;
    background: #fff;
    font-size: 1.2vw
}

body[cat] #brand div.infos ul.table li span:nth-child(2) {
    float: right
}

body[cat] .prev {
    width: 2vw;
    position: fixed;
    display: block;
    z-index: 9999;
    top: 12vh;
    left: 11.5vw;
    cursor: pointer;
    transform: rotate(180deg)
}

body[cat] .next {
    width: 2vw;
    position: fixed;
    display: block;
    z-index: 9999;
    bottom: 18vh;
    left: 11.5vw;
    cursor: pointer
}

@media screen and (max-device-width: 767px) {
    .wrapper {
        width: 90%
    }
    .mob-clear {
        clear: both
    }
    #header {
        position: fixed;
        top: 0;
        height: auto;
        width: 100%;
        line-height: 50px;
        margin-top: -10px;
        box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.12);
        max-height: 60px;
        transition: max-height 0.15s ease-out;
        overflow: hidden
    }
    #header div.wrapper {
        display: block
    }
    #header .logo {
        text-align: center;
        position: relative;
        top: 2px
    }
    #header .logo img {
        height: 22px;
        position: relative
    }
    #header span.menu {
        display: inline;
        float: right;
        height: 60px
    }
    #header span.menu img {
        height: 22px;
        margin-top: 22px
    }
    #header ul {
        position: relative;
        text-align: center
    }
    #header ul li {
        display: inline-block;
        margin: 0 15px
    }
    #header ul li a {
        color: #170073;
        font-weight: 600;
        font-size: 14px;
        line-height: 50px;
        -webkit-transition: color 150ms ease;
        -moz-transition: color 150ms ease;
        -o-transition: color 150ms ease;
        transition: color 150ms ease
    }
    #header ul li a:hover,
    #header ul li a.active {
        color: #0098E0
    }
    #header ul.menu {
        margin: 0 auto
    }
    #header ul.lang {
        right: 0;
        position: relative
    }
    #header ul.menu .mobile-v {
        display: inline-block
    }
    #header ul.menu .desktop-v {
        display: none
    }
    .catalogue {
        margin-top: 1em
    }
    .catalogue h2 {
        width: 100%;
        font-size: 14px;
        color: #0098E0;
        line-height: 24px
    }
    .catalogue a {
        position: absolute;
        margin: 0 auto;
        z-index: 1;
        left: 0;
        right: 0;
        display: inline-block;
        width: 200px;
        margin-top: 1.5em;
        border-radius: 5px;
        color: #fff;
        padding: 10px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: .5px;
        -webkit-transition: opacity 120ms ease;
        -moz-transition: opacity 120ms ease;
        -o-transition: opacity 120ms ease;
        transition: opacity 120ms ease;
        background: #fdb200;
        background: -moz-linear-gradient(45deg, #fdb200 0%, #fd8200 46%);
        background: -webkit-linear-gradient(45deg, #fdb200 0%, #fd8200 46%);
        background: linear-gradient(45deg, #fdb200 0%, #fd8200 46%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fdb200', endColorstr='#fd8200', GradientType=1)
    }
    .catalogue a:hover {
        opacity: 0.8
    }
    .hero {
        margin-top: 4em
    }
    .brands {
        margin-top: 3em
    }
    .brands .text {
        width: 100%;
        margin: 0 auto;
        font-size: 18px;
        line-height: 24px;
        color: #170073
    }
    .brands .products {
        height: 600px
    }
    .brands .products li {
        float: left;
        width: 50%;
        height: 60vw;
        text-align: center
    }
    .brands .products li img {
        width: 80%
    }
    .brands .products .blurred {
        position: absolute;
        top: 0
    }
    .brands .products .blurred img {
        width: calc(50% - 4em) !important;
        float: left;
        padding: 2em !important;
        position: relative
    }
    .brands .products .blurred img:nth-child(1) {
        top: 0
    }
    .brands .products .blurred img:nth-child(2) {
        top: 0
    }
    .brands .products .blurred img:nth-child(3) {
        top: 0
    }
    .brands .products .blurred img:nth-child(4) {
        top: 0
    }
    .brands .products .blurred img:nth-child(5) {
        top: 0;
        right: 0 !important
    }
    #about {
        margin-bottom: 6em
    }
    #about .about {
        width: 100%;
        float: none
    }
    #about .about h4 {
        font-size: 22px;
        font-weight: 600;
        color: #170073;
        margin-bottom: .5em
    }
    #about .about p {
        font-size: 18px;
        line-height: 24px
    }
    #about .boxes {
        margin-top: 0;
        width: 100%;
        float: none;
        position: relative
    }
    #about .blue,
    #about .yellow {
        background-size: 100% !important;
        background-repeat: no-repeat !important;
        float: right
    }
    #about .blue img,
    #about .yellow img {
        width: calc(100% - 3em);
        border-radius: 100%;
        padding: 1.5em
    }
    #about .blue {
        position: relative;
        right: -5%;
        margin-top: 12%;
        width: 60%;
        float: left
    }
    #about .yellow {
        margin-top: 1em;
        width: 40%;
        position: absolute;
        right: 10%
    }
    #about .yellow img {
        width: calc(100% - 2em);
        padding: 1em
    }
    footer {
        margin-top: 0;
        width: 100%;
        height: 100px;
        border-top: 1px solid #212529
    }
    footer div.wrapper {
        display: block;
        position: relative
    }
    footer .info {
        padding-top: 20px;
        color: #170073;
        font-weight: bold;
        margin-right: auto;
        margin: 0 auto;
        display: block;
        width: 100%;
        text-align: center;
        position: relative;
        line-height: 25px;
        top: 0;
        left: 0
    }
    footer .info a {
        color: #212529;
        font-weight: 300;
        display: block
    }
    footer .copyright {
        position: relative;
        text-align: center;
        margin: 0 auto;
        padding-top: 20px
    }
    footer .copyright a {
        color: #fff;
        border-radius: 5px;
        padding: 8px 10px;
        border-radius: 5px;
        display: none;
        margin-bottom: 12px;
        background: #fdb200;
        background: -moz-linear-gradient(45deg, #fdb200 0%, #fd8200 46%);
        background: -webkit-linear-gradient(45deg, #fdb200 0%, #fd8200 46%);
        background: linear-gradient(45deg, #fdb200 0%, #fd8200 46%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fdb200', endColorstr='#fd8200', GradientType=1)
    }
    footer .copyright a:hover {
        opacity: 0.8
    }
    footer .copyright span {
        text-align: center;
        display: block;
        font-weight: 300
    }
    footer .design {
        position: relative;
        width: 80%;
        display: block;
        text-align: left;
        right: 0;
        margin: 0 auto
    }
    footer .design img {
        height: 30px;
        padding: 35px 0;
        display: inline-block
    }
    footer .design span {
        float: right;
        line-height: 16px;
        font-weight: 300;
        margin-left: 10px;
        font-size: 14px;
        position: relative;
        top: 35px
    }
    #company h2.title {
        font-size: 22px;
        text-align: center;
        margin: 1em;
        color: #170073
    }
    #company .hero {
        margin-top: 0
    }
    #company .history {
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
        margin-bottom: 2em !important
    }
    #company .history h4.title {
        font-size: 18px;
        color: #170073;
        margin-bottom: 1em
    }
    #company .history .block {
        padding-bottom: 500em;
        margin-bottom: -500em
    }
    #company .history .block .text {
        float: none;
        width: 100%
    }
    #company .history .block .text>p {
        font-size: 14px;
        color: #5A5A5A;
        line-height: 22px;
        display: block;
        margin-bottom: 1em
    }
    #company .history .since {
        padding: 1em 0;
        padding-bottom: 500em;
        margin-bottom: -500em;
        float: none;
        margin-left: 0;
        width: 100%;
        border-top: 4px solid #0098E0;
        border-left: none;
        text-align: left
    }
    #company .history .since>p {
        font-size: 14px;
        color: #5A5A5A;
        line-height: 22px;
        margin-bottom: 1em
    }
    #company .history .since span {
        color: #0098E0;
        font-size: 22px;
        font-weight: 300
    }
    #company .team {
        position: relative;
        margin-top: 0;
        display: block;
        transform: none !important
    }
    #company .team .shadow {
        width: 100%;
        height: 100%;
        position: absolute;
        -webkit-box-shadow: inset 0px -130px 69px 161px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: inset 0px -130px 69px 161px rgba(0, 0, 0, 0.75);
        box-shadow: inset 0px -130px 69px 161px rgba(0, 0, 0, 0.75)
    }
    #company .team>img {
        z-index: -1;
        width: 100%;
        display: none
    }
    #company .team .history {
        width: 90%;
        margin: 0 auto;
        position: relative;
        bottom: 0;
        left: 0;
        right: 0
    }
    #company .team .history h4,
    #company .team .history span {
        color: #0098E0
    }
    #company .team .history p {
        color: #5a5a5a !important
    }
    #contact h2.title {
        font-size: 22px;
        text-align: center;
        margin: 1em 0 2em;
        color: #170073;
        font-family: 'Roboto Slab', serif;
        font-weight: bold
    }
    #contact .line {
        margin: 2em 0;
        display: block;
        height: 2px;
        background: #ddd
    }
    #contact p.location {
        width: 100%;
        float: none;
        color: #525252;
        font-size: 16px;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        margin-bottom: 15px
    }
    #contact .infos {
        width: 100%;
        float: none;
        color: #525252
    }
    #contact .infos .item {
        margin-bottom: 1em;
        font-size: 14px;
        line-height: 22px
    }
    #contact .infos .item span.title {
        float: left;
        width: 25%;
        font-family: 'Roboto Slab', serif;
        font-weight: bold
    }
    #contact .infos .item p {
        display: inline-block;
        line-height: 25px
    }
    #contact .infos .item p a {
        color: #0098E0
    }
    #brands .top {
        height: calc(100vh - 60px);
        display: flex;
        position: fixed;
        top: 60px;
        left: 0;
        right: 0
    }
    #brands .top .item {
        float: left;
        margin: auto
    }
    #brands .top .item a {
        color: #170073;
        display: block;
        font-weight: bold;
        padding-top: 20px;
        font-size: 18px
    }
    #brands .top .item:first-child {
        width: 33%;
        text-align: center
    }
    #brands .top .item:first-child img {
        width: 100%
    }
    #brands .top .item:nth-child(2) {
        width: 33%
    }
    #brands .top .item:nth-child(2) img {
        margin: 0 auto;
        width: 100%;
        display: block;
        margin-bottom: 3em
    }
    #brands .top .item:nth-child(3) {
        width: 33%;
        text-align: center
    }
    #brands .top .item:nth-child(3) img {
        width: 100%
    }
    #brands .cover {
        background: #041a72;
        padding-top: 4em;
        margin-top: calc(100vh - 60px);
        position: relative
    }
    #brands .cover>img {
        position: absolute;
        width: 100%
    }
    #brands .cover h2.title {
        font-size: 44px;
        letter-spacing: 1px;
        color: #FFB400;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
        font-family: 'Roboto Slab', serif
    }
    #brands .cover p.desc {
        font-size: 20px;
        line-height: 28px;
        height: 112px;
        text-align: center;
        width: 100%;
        overflow: hidden;
        display: block;
        margin: 0 auto;
        color: #fff;
        font-weight: 300;
        margin-bottom: 1em
    }
    #brands .cover ul.products {
        padding: 2em;
        margin-top: 5em;
        width: 80%;
        margin: 0 auto;
        font-size: 0;
        text-align: center
    }
    #brands .cover ul.products .clearfix {
        display: none
    }
    #brands .cover ul.products li {
        display: inline-block;
        width: 50%;
        text-align: center;
        padding-bottom: 75px;
        cursor: pointer;
        z-index: 2
    }
    #brands .cover ul.products li.line:before {
        content: '';
        background-image: url(../images/line.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100vw;
        height: 40%;
        left: 0;
        margin-top: -30%;
        position: absolute;
        display: block
    }
    #brands .cover ul.products li img {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 100%;
        -webkit-transition: opacity 150ms ease;
        -moz-transition: opacity 150ms ease;
        -o-transition: opacity 150ms ease;
        transition: opacity 150ms ease;
        z-index: 2;
        position: relative
    }
    #brands .cover ul.products li img:hover+a {
        color: #FFB400
    }
    #brands .cover ul.products li a {
        width: 50%;
        display: block;
        font-size: 16px;
        margin: 0 auto;
        line-height: 20px;
        color: #fff;
        -webkit-transition: color 150ms ease;
        -moz-transition: color 150ms ease;
        -o-transition: color 150ms ease;
        transition: color 150ms ease;
        z-index: 2;
        position: relative
    }
    #brands .cover ul.products li a:hover {
        color: #FFB400
    }
    #brands .cover[childs="3"] ul.products li {
        width: 33%
    }
    #brands div.products {
        margin-top: 4em;
        position: relative
    }
    #brands div.products:before {
        content: '';
        background-image: url(../images/wave_3.png);
        background-size: cover;
        display: block;
        width: 100%;
        height: 456px;
        position: absolute;
        z-index: 1;
        top: 10em
    }
    #brands div.products:after {
        content: '';
        background-image: url(../images/wave_4.png);
        background-size: cover;
        display: block;
        width: 100%;
        height: 456px;
        position: absolute;
        z-index: 1;
        bottom: 5em
    }
    #brands div.products h2.title {
        font-size: 44px;
        letter-spacing: 1px;
        color: #170073;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
        font-family: 'Roboto Slab', serif
    }
    #brands div.products p.desc {
        font-size: 20px;
        height: 112px;
        line-height: 28px;
        text-align: center;
        width: 60%;
        display: block;
        margin: 0 auto;
        color: #170073;
        font-weight: 300;
        margin-bottom: 1em
    }
    #brands div.products ul.products {
        padding: 2em;
        margin-top: 5em;
        width: 80%;
        margin: 0 auto
    }
    #brands div.products ul.products li {
        float: left;
        width: 25%;
        text-align: center;
        margin-bottom: 9em;
        cursor: pointer;
        position: relative;
        z-index: 2
    }
    #brands div.products ul.products li img {
        display: block;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 100%;
        -webkit-transition: opacity 150ms ease;
        -moz-transition: opacity 150ms ease;
        -o-transition: opacity 150ms ease;
        transition: opacity 150ms ease;
        z-index: 9999
    }
    #brands div.products ul.products li img:hover+a {
        color: #0098E0
    }
    #brands div.products ul.products li a {
        width: 50%;
        display: block;
        margin: 0 auto;
        line-height: 20px;
        color: #170073;
        -webkit-transition: color 150ms ease;
        -moz-transition: color 150ms ease;
        -o-transition: color 150ms ease;
        transition: color 150ms ease;
        z-index: 9999
    }
    #brands div.products ul.products li a:hover {
        color: #0098E0
    }
    body[cat] {
        padding-top: 0
    }
    body[cat] .wrapper {
        width: 90vw
    }
    body[cat] footer {
        margin-top: 0;
        background: #fff;
        height: 210px
    }
    body[cat] #header a {
        font-size: 1.1vw
    }
    body[cat] #header .logo img {
        height: 22px;
        margin-top: 15px
    }
    body[cat] #brand {
        padding-top: 60px;
        height: calc(100vh - 160px);
        padding: 60px 0 0
    }
    body[cat] #brand .contain {
        position: relative
    }
    body[cat] #brand .swiper-container {
        display: none
    }
    body[cat] #brand div.content {
        float: right;
        width: 100%
    }
    body[cat] #brand div.height-reason {
        height: auto;
        margin-bottom: 3em;
        display: flex;
        justify-content: center;
        align-items: center
    }
    body[cat] #brand div.product {
        width: 100px;
        height: auto;
        text-align: center;
        float: left
    }
    body[cat] #brand div.product img {
        height: auto;
        width: 100px;
        position: relative;
        padding-top: 0;
        left: 0
    }
    body[cat] #brand div.infos {
        width: calc(100% - 100px);
        float: right
    }
    body[cat] #brand div.infos h2.title {
        margin: 10% 0 1em;
        color: #00B01E;
        font-size: 22px;
        text-transform: uppercase
    }
    body[cat] #brand div.infos p.desc {
        font-weight: bold;
        font-size: 18px;
        color: #170073;
        margin-bottom: 20px
    }
    body[cat] #brand div.infos ul.table li {
        margin-bottom: 10px;
        position: relative
    }
    body[cat] #brand div.infos ul.table li:after {
        content: '';
        width: 100%;
        position: absolute;
        z-index: -1;
        bottom: 1px;
        left: 0;
        border-bottom: 1px dashed #170073
    }
    body[cat] #brand div.infos ul.table li span {
        color: #170073;
        background: #fff;
        font-size: 16px
    }
    body[cat] #brand div.infos ul.table li span:nth-child(2) {
        float: right
    }
    body[cat] .prev {
        display: none
    }
    body[cat] .next {
        display: none
    }
}
